<html>
  <head>
    <meta charset="UTF-8" />
    <title>17天搞定GRE单词背诵计划时间表生成器</title>
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <div id="app">
      <h1>{{ title }}</h1>
      <div class="flex">
        <div>
          <table id="output">
	        <tr>
	          <th v-for="weekdayName in weekdayNames">{{ weekdayName }}</th>
	        </tr>
	        <tbody v-for="week in weeks">
	          <tr>
	            <th v-for="day in week">
                  <div v-if="day">
                    {{ (day.date.getMonth() + 1) + "/" + day.date.getDate() }}
                  </div>
                </th>
	          </tr>
	          <tr>
	            <td v-for="day in week">
                  <div v-if="day">
	                <div v-for="list in day.lists.newLists" :class="'c' + list.replace('~', '')">
                      {{ newListPrefix + " " + list }}<br>
                    </div>
	                <div v-for="list in day.lists.reviewLists" :class="'c' + list.replace('~', '')">
                      {{ reviewListPrefix + " " + list }}<br>
                    </div>
                  </div>
	            </td>
	          </tr>
	        </tbody>
          </table>
          <div><p>注：星号（*）标记着本日应复习的 List。</p></div>
        </div>
        <div>
          <table id="form">
	        <tr><th>计划名</th>
              <td><input id="plan"
                         v-model="newParameters.title">
            </td></tr>
	        <tr><th>List 名</th>
              <td><input id="book"
                         v-model="newParameters.prefix">
            </td></tr>
	        <tr><th>开始日期</th>
              <td><input id="startDate"
                         type="date"
                         v-model="displayedDate">
            </td></tr>
            <tr><th>每天 List 数</th>
              <td><input id="listPerDay"
                         type="number"
                         v-model="newParameters.listPerDay">
            </td></tr>
	        <tr><th>List 总数</th>
              <td><input id="totalList"
                         type="number"
                         v-model="newParameters.listTotal">
            </td></tr>
	        <tr><th>是否逆序</th>
              <td><input id="reverse"
                         type="checkbox"
                         v-model="newParameters.reversed">
            </td></tr>
	        <tr><th>是否自动上色</th>
              <td><input id="colored"
                         type="checkbox"
                         v-model="newParameters.colored">
            </td></tr>
	        <tr><th>周一为每周第一天</th>
              <td><input id="mondayFirst"
                         type="checkbox"
                         v-model="monday">
            </td></tr>
	        <tr><th>（可选）自定义复习安排(请用 ',' 分隔)</th>
              <td><input id="intervals"
                         type="text"
                         v-model="displayedIntervals"
                         :placeholder="greIntervals.join(',')">
            </td></tr>
	        <tr><th>跳过第n天的新词(请用 ',' 分隔)</th>
              <td><input id="skip"
                         type="text"
                         placeholder="是不是尽量不要跳过会好一点呢?"
                         v-model="displayedSkippedDates">
            </td></tr>
	        <tr><th></th><td><button id="generate"
                                     v-on:click="userCommit">
                  点击这里生成</button></td></tr>
          </table>
          <p id="notes">
            自定义复习安排：默认为 0,1,3,7,14,29：意为学习新列表的当日（0）复习，学习后的第1、3、7、14、29天分别复习；也即同一个列表两次复习的间隔依次为1、2、4、7、15天（此为 <a href='https://exam4.us'>exam4.us</a> 的默认安排）。您也可以按此规律对复习安排进行自己的调整。
          </p>
	      <p id="license">
	        源网页 <a href='https://exam4.us'>exam4.us</a>，有人搬到了 Github 上：<a href='https://github.com/17GRE/17GRE'>17GRE</a>。本网页是从该 GitHub 项目 fork 过来的 <a href='https://github.com/GuDzpoz/17GRE'>forked 17GRE</a>。<br/>
	        想要打印的话，现在可以直接把表格复制到表格软件（Microsoft Excel、LibreOffice Calc 等）再编辑打印了。或者您也可以直接将网页加入收藏夹，网页会在再次打开时自动重新生成您的计划表。
	      </p>
        </div>
      </div>
    </div>
    <script src="./lib/vue.global.prod.js"></script>
    <script>
      if("serviceWorker" in navigator) {
          navigator.serviceWorker.register("./sw.js");
      }
    </script>
    <script src="index.js"></script>
  </body>
</html>
