#output td, #output th {
	border: 1px solid black;
	padding: 0 0.5em 0 0.5em;
}
#output {
	border-collapse: collapse;
}
#output tr td>div {
    margin: 0.5em 0 0.5em 0;
}
#output tr td div div {
    display: inline;
    padding-left: 0.2em;
    padding-right: 0.2em;
}
#app {
    margin-left: 2%;
    margin-right: 2%;
}
.flex {
    display: flex;
    column-gap: 5%;
    flex-flow: row wrap;
}
#form th {
    max-width: 8em;
}
#form input {
    max-width: 12em;
}
#notes, #license {
    max-width: 20em;
}
